<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electron LMDB Viewer</title>
    <link rel="stylesheet" href="static/spectre@0.5.9.css" />
    <link rel="stylesheet" href="static/vue-good-table-next@0.1.0.css" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="container">
      <div id="db-selection">
        <fieldset id="settings-container">
          <legend>DB settings:</legend>
          <div id="compression-checkbox-container">
            <input v-model="dbCompression" type="checkbox" id="compression" name="compression" />
            <label for="compression">Compression</label>
          </div>

          <label for="database-encoding-type-select">DB Encoding Type</label>
          <select v-model="dbEncoding" name="database-encoding-type-select" id="database-encoding-type-select">
            <option value="msgpack">msgpack</option>
            <option value="cbor">cbor</option>
            <option value="json">json</option>
            <option value="string">string</option>
            <option value="binary">binary</option>
          </select>
        </fieldset>
        <fieldset id="db-file-container">
          <legend>DB File:</legend>
          <button id="db-select-button" @click="openDB">Open DB</button>
          <span id="db-path-location">{{ dbFilePath }}</span>
        </fieldset>
        <p class="note">Note: Ctrl-click on a key or value to view in full.</p>
        <p class="note">Binary keys/values are converted to hex for viewing.</p>
      </div>
      <div id="grid-container">
        <dialog id="show-data-dialog" v-if="showDataDialog" class="hide">
          <span id="dialog-close" @click="closeDialog">✕</span>
          <textarea rows="6" ref="textarea"></textarea>
        </dialog>
        <p id="largedb-loading-message" v-if="loadingDB" class="hide">
          <span>Loading DB, Please Wait</span
          ><svg class="spinner" viewBox="0 0 50 50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
          </svg>
        </p>
        <div id="grid-wrapper">
          <vue-good-table
            mode="remote"
            :columns="columns"
            :rows="rows"
            :line-numbers="true"
            :pagination-options="{
              enabled: true,
              mode: 'pages',
              perPage: 500,
              perPageDropdownEnabled: false,
            }"
            :sort-options="{
              enabled: false,
            }"
          />
        </div>
      </div>
    </div>
    <script src="index-build.js" type="module"></script>
  </body>
</html>
