body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-y: hidden;
}

.hide {
  display: none !important;
}

#container {
  display: flex;
  height: 100%;
  width: 100%;
}

#db-selection {
  display: flex;
  flex-direction: column;
  border-right: 1px outset;
  margin-right: 1rem;
  padding-right: 3rem;
  min-width: 200px;
  max-width: 200px;
}

#settings-container {
  display: flex;
  flex-direction: column;
}

#compression-checkbox-container {
  margin-bottom: 0.7rem;
}

.note {
  text-align: center;
}

.note:first-of-type {
  margin-bottom: 0.5rem;
}

fieldset {
  border: 1px dotted;
  padding: 1rem;
  min-width: 180px;
}

legend {
  margin-bottom: 0;
}

label[for='compression'] {
  margin-left: 0.2rem;
}

label[for='database-encoding-type-select'] {
  margin-bottom: 0.4rem;
}

#db-file-container {
  display: flex;
  flex-direction: column;
}

#db-path-location {
  margin-top: 0.8rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

#db-select-button {
  max-width: 6rem;
}

#show-data-dialog {
  z-index: 99;
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding-top: 0.1rem;
}

#show-data-dialog > span {
  align-self: end;
  margin-bottom: 0.4rem;
  cursor: pointer;
}

#show-data-dialog > textarea {
  width: 100%;
  flex-grow: 1;
}

.vgt-wrap__footer * {
  font-size: 0.8rem !important;
}

.spinner {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 2;
  width: 20px;
  height: 20px;
  margin-left: 0.8rem;
}

.spinner .path {
  stroke: #93bfec;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
